.name {
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 18px
    

}

.description{
    font-family: 'Roboto', sans-serif;
    font-size: 22px
}

.container{
    max-width: 1024px;
    font-family: 'Roboto', sans-serif;
}

.projects{
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 80px;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.headline{
    background-color: #deeaee
}

.desc{
    background-color: #deeaee;
    padding-bottom: 48px
}

.proj{
    
}

.project-thumbnail{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects-link{
    font-family: 'Roboto', sans-serif;
    color: black;
    
}

.contact-link{
    font-family: 'Roboto', sans-serif;
    color: black;
}

a{
    float: left;
    
}

nav{
    background-color: #deeaee;
    
}

.proj{
    background-color: #fafafa;
}

.contact-info{
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.contact-links{
    font-family: 'Roboto', sans-serif;
    float:left;
    padding-top: 8px
}


